<!DOCTYPE html>
<html class="dark" lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::content})}">

<th:block th:fragment="content" th:object="${category}">
    <!--/*@thymesVar id="category" type="uy.com.antel.sandbox.carloso.carlosowebsite.model.CategoryModel"*/-->
    <div class="container mx-auto px-4 py-8 lg:px-8 lg:py-16">
        <div class="mb-12 flex flex-col items-start gap-4 border-b-4 border-accent-peach pb-4">
            <h1 class="text-4xl font-black tracking-tighter text-text-light dark:text-text-dark lg:text-5xl" th:text="${category.name()}">Nutrition &amp; Health</h1>
            <p class="text-lg text-text-light/80 dark:text-text-dark/80" th:text="${category.description()}">A collection of curated articles and notes on wellness, helping you build a healthier relationship with food and your body.</p>
        </div>
        
        <div th:if="*{posts().isEmpty()}" class="flex flex-col items-center justify-center py-16 px-4">
            <div class="max-w-2xl text-center bg-white dark:bg-google-dark-card border border-slate-200 dark:border-google-dark-border rounded-xl shadow-sm p-8">
                <p class="text-lg md:text-xl font-medium text-slate-600 dark:text-google-dark-text-secondary">
                    En este momento no existen Posts disponibles para esta categoría
                </p>
            </div>
        </div>
        
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3" th:if="*{!posts().isEmpty()}">
            <div th:each="post, iter : *{posts()}" th:id="${iter}" class="group flex flex-col overflow-hidden rounded-xl bg-card-light dark:bg-card-dark shadow-md transition-shadow hover:shadow-xl">

                <div class="relative">
                    <div class="h-4 w-full bg-accent-peach"></div>
                    <img alt="Abstract image representing sleep" class="aspect-video w-full object-cover" th:src="${post.coverImageUrl()}"/>
                </div>
                <div class="flex flex-grow flex-col p-6">
                    <span class="mb-2 text-sm font-medium text-primary">Wellness</span>
                    <h3 class="mb-3 font-bold leading-tight text-text-light dark:text-text-dark" th:text="${post.title()}">...</h3>
                    <p class="mb-6 text-sm flex-grow text-text-light/80 dark:text-text-dark/80 line-clamp-4" th:text="${post.excerpt()}">...</p>
                    <a class="mt-auto flex items-center text-sm font-bold text-primary transition-all group-hover:gap-2" href="#">Read more
                        <span class="material-symbols-outlined transition-transform group-hover:translate-x-1">arrow_forward</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>