<!DOCTYPE html>
<html class="dark" lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::content})}">

    <th:block th:fragment="content" th:object="${post}">
        <article class="bg-white dark:bg-[#1f2937] rounded-xl shadow-lg overflow-hidden p-6 md:p-12">
            <header class="flex flex-col items-start gap-4 mb-8">
                <div class="flex gap-3">
                    <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#F6D8AE] px-4">
                        <a th:href="@{/category/{slug}(slug=${post.slug()})}" class="text-decoration-none">
                            <p class="text-[#2E4057] text-sm font-medium leading-normal" th:text="${post.category()}">Technology</p>
                        </a>
                    </div>
                </div>
                <h1 class="text-[#083D77] dark:text-white tracking-tight text-3xl md:text-4xl font-bold leading-tight text-left" th:text="${post.title()}">The Rise of Ethereum: A Deep Dive</h1>
                <p class="text-[#9A879D] dark:text-gray-400 text-sm font-normal leading-normal" th:text="${post.author() + ' • ' + post.publishedAt() + ' • ' + post.readTimeMinutes() + ' min read'}">By John Doe • Published on Aug 24, 2023 • 7 min read</p>
            </header>
            <div class="w-full h-px bg-[#F6D8AE]/60 dark:bg-gray-700 my-8"></div>

            <div class="mb-4" th:if="${post.coverImageUrl() != null}">
                <img th:src="${post.coverImageUrl()}" alt="Cover" class="img-fluid rounded shadow-sm">
            </div>

            <div class="prose prose-lg max-w-none font-body text-[#2E4057] dark:text-gray-300
    prose-headings:text-[#083D77] prose-headings:dark:text-white prose-a:text-[#083D77] prose-a:dark:text-[#F6D8AE]
    prose-strong:text-[#2E4057] prose-strong:dark:text-gray-200" th:utext="${post.content()}">>

            </div>

            <div class="w-full h-px bg-[#F6D8AE]/60 dark:bg-gray-700 my-8"></div>
            <section class="mt-12">
                <h2 class="text-2xl font-bold text-[#083D77] dark:text-white mb-6">Sources</h2>
                <ul class="list-disc list-inside space-y-3 font-body text-[#2E4057] dark:text-gray-300">
                    <li>
                        <a class="hover:underline" href="#">Ethereum Foundation Official Website. (2023). "What is Ethereum?"</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="#">Coindesk. (2023). "The Merge: An Explainer."</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="#">Fintech Magazine. (2022). "A Comparative Analysis of Blockchain Platforms."</a>
                    </li>
                </ul>
            </section>
        </article>
    </th:block>
</html>